/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --paragraf-color: #000028;
  --backgound-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --btn-color: #ff0070;
  --section-title-color: #ff0070;
  --background-color: #000028;
  --standart-gap: 10px;
}

.page.theme_dark .header__element {
  display: block;
}
