/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --paragraf-color: #000028;
  --backgound-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --btn-color: #353430;
  --section-title-color: #353430;
  --background-color: #f5f5f5;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --paragraf-color: #353430;
    --backgound-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --btn-color: #353430;
    --section-title-color: #353430;
    --background-color: #f5f5f5;
  }
}

.page.theme_light .header__element {
  display: none;
}
