/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --paragraf-color: #000028;
  --backgound-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --btn-color: #ff0070;
  --section-title-color: #ff0070;
  --main-title-color: #db00ff;
  --background-color: #000028;
}
